@model RC.Shop.Core.ShipAddressInfo

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>

<div>
    <h4>ShipAddressInfo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Uid)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Uid)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RegionId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RegionId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsDefault)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsDefault)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Alias)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Alias)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Consignee)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Consignee)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Mobile)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Mobile)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Phone)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ZipCode)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ZipCode)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.SAId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
</body>
</html>
